{
    "plugins": [
      ["module:react-native-dotenv", {
        "envName": "APP_ENV",
        "moduleName": "@env",
        "path": ".env",
        "blocklist": null,
        "allowlist": null,
        "safe": false,
        "allowUndefined": true,
        "verbose": false
      }]
    ],
    "env": {
      "test": {
          "plugins": [["module:react-native-dotenv", { "path": "./.env.test" }]],
      }
  }
  }